body{
    background: color #eef8f8;
    font-family: 'Balsamiq Sans', cursive;
}


/*/*classes*/

.reset{
    clear:both;
}

.social{
    float:left;
}

.links a{
    float:left;
    text-decoration:none;
    background-color:#222345;
    padding:2px 7px 2px 7px;
    border-radius:7px;
    color:#6a9db9;
}

.headings{
    color: #5188a5;
}

.texts{
    color: #6a9db9;
}

.others{
    color: #6a9db9;
}

/*/*ID's*/

/*images*/

#batman{
    float: left;
    margin: 10px 0px 0px 230px;
}

#friends{
    float:left;
    border-radius:30px;
    margin:0px 0px 0px 250px;
}

#beach{
    float:left;
    border-radius:30px;
    margin:0px 90px 0px 80px;
}

#spotify{
    float:left;
}

#youtube{
    float:left;
}

#instagram{
    float:left;
}

#steam{
    float:left;
}

#schrimp{
    float:left;
    margin:0px 0px 0px 70px;
}

/*texts*/

#text{
    float:left;
    margin:0px 0px 0px 122px;
}

#titel{
    width:500px;
    float: left;
    margin:-40px 0px 0px 44px;
}

#list{
    float:left;
    margin:0px 0px 0px 160px;
}

/*layouts*/

#split{
    margin:500px 0px 0px 0px;
}

#topBar{
    background-color:#b8dddd;
    padding:30px 1px 30px 1px;
}

/*extra*/


/*/*specifics*/
